@font-face {
  font-family: NYPFontRegular;
  src: url("../fonts/font/DINNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: NYPFontMedium;
  src: url("../fonts/font/DINNextLTPro-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: NYPFontBold;
  src: url("../fonts/font/DINPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
h3 {
  color: #031a82;
  font-weight: 700; }

p {
  margin-bottom: 0px; }

span {
  font-size: 12px; }

strong {
  font-size: 12px;
  line-height: 12px; }

img {
  width: 100%; }

.container {
  margin: 40px auto; }

.post {
  position: relative; }

.post-content .thumbnail {
  padding: 0px; }
.post-content .post-date {
  position: absolute;
  background-color: red;
  margin-left: 20px;
  padding: 20px 15px 10px 15px; }
  .post-content .post-date p {
    color: #fff;
    text-align: center;
    font-weight: 700; }
  .post-content .post-date:before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    left: 0;
    border-top: 10px solid red;
    border-right: 50px solid transparent; }
  .post-content .post-date:after {
    right: 0;
    border-top: 10px solid red;
    border-left: 50px solid transparent;
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0; }
.post-content .caption {
  padding-left: 20px;
  padding-right: 20px; }
  .post-content .caption p:last-child {
    padding-top: 20px;
    padding-bottom: 20px; }

.media-content {
  padding: 20px 15px 20px 15px;
  border: 1px solid #ddd; }
  .media-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }

.media-content-body p:nth-child(1), .media-content-body p:nth-child(2), .media-content-body p:nth-child(3) {
  line-height: 20px; }
.media-content-body p:nth-child(1) {
  color: red; }
.media-content-body p:last-child {
  margin-top: 20px; }

.Carousel-button {
  margin-top: 20px; }
  .Carousel-button a:hover {
    color: transparent; }

.industry {
  position: relative; }

.media-industry {
  border: 1px solid #ddd; }

.industry-post {
  margin-bottom: 30px; }

.media-industry-content {
  padding: 25px 62px 25px 20px; }
  .media-industry-content p:first-child {
    font-family: NYPFontBold;
    font-size: 18px;
    margin-bottom: 5px; }

.media-industry-left {
  width: 40%; }

.media-industry-button {
  position: absolute;
  bottom: 0px;
  right: 16px; }

.footer-content li h6 {
  color: #464646;
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700; }
.footer-content li span {
  position: absolute;
  display: none; }
.footer-content li a {
  padding: 10px 0px; }

@media (max-width: 992px) {
  .footer-content li h6:hover {
    color: red; }
  .footer-content li span {
    display: block;
    top: 5px;
    right: 0px; }
  .footer-content li ul {
    display: none; }
  .footer-content li:hover ul {
    display: block; }
  .footer-content li:hover a {
    margin-left: 15px;
    border-bottom: 1px solid #ddd; } }
/*# sourceMappingURL=demo2.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
