@font-face {
  font-family: NYPFontRegular;
  src: url("../fonts/font/DINNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: NYPFontMedium;
  src: url("../fonts/font/DINNextLTPro-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: NYPFotnBold;
  src: url("../fonts/font/DINPro-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding-left: 7.5px;
  padding-right: 7.5px; }

h3 {
  color: #031a82;
  font-family: NYPFontRegular;
  font-weight: 700; }

h5 {
  font-family: NYPFotnBold; }

p {
  margin-bottom: 0px; }

strong {
  line-height: 12px; }

img {
  width: 100%; }

.container {
  margin: 40px auto; }

.btn:focus, .btn:active, .btn:active:focus {
  border-color: transparent;
  outline: none;
  outline-offset: 0px;
  box-shadow: none; }

.post {
  position: relative; }

.post-content .thumbnail {
  padding: 0px; }
.post-content .post-date {
  position: absolute;
  background-color: #dc1917;
  margin-left: 20px;
  margin-top: 1px;
  padding: 10px 10px 10px 10px; }
  .post-content .post-date h3 {
    color: #fff;
    text-align: center;
    font-family: NYPFotnBold;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 30px; }
  .post-content .post-date p {
    color: #fff;
    line-height: 19px;
    font-size: 24px; }
  .post-content .post-date:before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    left: 0;
    border-top: 10px solid #dc1917;
    border-right: 50px solid transparent; }
  .post-content .post-date:after {
    right: 0;
    border-top: 10px solid #dc1917;
    border-left: 50px solid transparent;
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0; }
.post-content .caption {
  padding-left: 20px;
  padding-right: 20px; }
  .post-content .caption p:last-child {
    padding-top: 20px;
    padding-bottom: 20px; }
  .post-content .caption p:nth-child(3) {
    font-weight: 700; }

.media-content {
  padding: 20px 15px 20px 15px;
  border: 1px solid #ddd; }
  .media-content img {
    width: 100%;
    border-radius: 50%; }

.media-content-body {
  width: 82%;
  padding-left: 10px; }
  .media-content-body p:nth-child(1), .media-content-body p:nth-child(2), .media-content-body p:nth-child(3) {
    line-height: 20px; }
  .media-content-body p:nth-child(1) {
    color: #031a82; }
  .media-content-body p:last-child {
    margin-top: 20px; }

.Carousel-button {
  margin-top: 20px; }
  .Carousel-button a:hover {
    color: transparent; }

.industry {
  position: relative; }

.media-industry {
  border: 1px solid #ddd;
  position: relative; }

.industry-post {
  margin-bottom: 30px; }

.media-industry-content {
  padding: 15px 62px 15px 20px;
  width: 55%; }
  .media-industry-content p:first-child {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700; }

.media-industry .media-industry-left, .media-industry .media-industry-content {
  display: block;
  float: left; }

.media-industry-button {
  position: absolute;
  bottom: 0px;
  right: 0px; }

#owl-demo .item {
  background: #fff;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }
  #owl-demo .item .media-content-body p:first-child {
    color: #031a82; }
  #owl-demo .item .media-content-body p {
    color: #464646;
    text-align: left; }

.customNavigation {
  text-align: center; }

.owl-theme .owl-controls .owl-buttons div {
  background: #031a82;
  border-radius: 0px;
  padding: 15px 23px 15px 23px;
  opacity: 1;
  margin: 0 2px 0 2px; }
.owl-theme .owl-controls .owl-buttons i {
  font-size: 15px;
  color: #fff; }

.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-controls {
  text-align: left; }

.owl-pagination {
  display: none; }

.skills-content {
  margin-top: 15px; }

.skills-content-body p {
  padding-left: 15px; }
.skills-content-body p:last-child {
  margin-top: 20px; }

/*tab------- */
.nav > li > a, .dropdown-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px; }

.main-tabs-menu {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-bottom: 13px; }

.main-nav-tabs {
  position: absolute; }
  .main-nav-tabs li a {
    background: url("../img/events/j-icon-1.png") no-repeat 10px; }
    .main-nav-tabs li a strong {
      margin-left: 23px;
      padding-top: 5px;
      padding-bottom: 5px; }

.main-tabs-menu-2 {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-bottom: 19px; }

.main-nav-tabs-2 {
  position: absolute; }
  .main-nav-tabs-2 li a {
    background: url("../img/events/j-icon-1.png") no-repeat 10px; }
  .main-nav-tabs-2 li p {
    margin-left: 23px;
    line-height: 14px;
    width: 200px; }
  .main-nav-tabs-2 li:first-child a p {
    padding-top: 7px;
    padding-bottom: 7px; }

.main-nav-tabs-mobile {
  display: none; }
  .main-nav-tabs-mobile li {
    position: relative; }
    .main-nav-tabs-mobile li a {
      margin-right: 0px;
      border: none; }
      .main-nav-tabs-mobile li a strong {
        background: url("../img/events/j-icon-1.png") no-repeat left;
        padding-left: 25px; }

.caret {
  position: absolute;
  right: 10px;
  top: 20px; }

.main-menu-sidebar ul li {
  border-bottom: 1px solid #ddd; }

/* --------------------main-life----------- */
.main-lift-table {
  padding-left: 3.5px;
  padding-right: 3.5px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .main-lift-table .main-life-post {
    position: relative;
    overflow: hidden; }
    .main-lift-table .main-life-post > img {
      transition: transform 0.5s ease;
      -moz-transition: -moz-transform 0.5s ease;
      -o-transition: -o-transform 0.5s ease; }
    .main-lift-table .main-life-post:hover .main-life-content > p {
      color: red;
      padding-top: 0px;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease; }
    .main-lift-table .main-life-post:hover > img {
      transform: scale(1.5);
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5); }
    .main-lift-table .main-life-post:hover .main-life-content {
      bottom: 0px;
      transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease; }
    .main-lift-table .main-life-post .main-life-content {
      position: absolute;
      background-color: black;
      padding-top: 10px;
      padding-bottom: 10px;
      bottom: -66px;
      opacity: 0.7; }
      .main-lift-table .main-life-post .main-life-content img {
        width: 50px;
        padding-left: 5px;
        padding-right: 5px; }
      .main-lift-table .main-life-post .main-life-content p {
        width: 80%;
        color: #fff;
        height: 44px;
        padding-top: 44px; }
      .main-lift-table .main-life-post .main-life-content img, .main-lift-table .main-life-post .main-life-content p {
        display: block;
        float: left; }

.footer-content img {
  width: 90px;
  padding-top: 10px; }
.footer-content li h6 {
  color: #464646;
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: NYPFotnBold; }
.footer-content li span {
  position: absolute;
  display: none; }
.footer-content li a {
  padding: 10px 0px; }

.footer-mobile-img li {
  float: left; }
  .footer-mobile-img li img {
    width: 30px;
    margin-right: 20px; }

@media (max-width: 1240px) {
  .main-life-content {
    width: 100%; }

  .main-nav-tabs li a strong {
    font-size: 15px; } }
@media (max-width: 1199px) {
  .nav-tabs > li.active > a {
    border: none; }

  a:focus {
    outline-offset: 0; }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none; }

  .skills-content-body {
    margin-top: 30px; }
    .skills-content-body p {
      padding-left: 0px; }

  .main-tabs-menu {
    border-bottom: none; }

  .main-nav-tabs {
    display: none; }

  .main-nav-tabs-mobile {
    display: block; }
    .main-nav-tabs-mobile .dropdown {
      width: 100%;
      border: 1px solid #ddd; }
    .main-nav-tabs-mobile > li > a:hover, .main-nav-tabs-mobile > li a:focus {
      border-color: transparent;
      margin-right: 0px;
      border: none;
      color: red;
      background-color: transparent; }
    .main-nav-tabs-mobile .dropdown-menu {
      width: 100%; } }
@media (max-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px; }

  .footer-content li h6:hover {
    color: red; }
  .footer-content li span {
    display: block;
    top: 11px;
    right: 0px; }
  .footer-content li ul {
    display: none; }
  .footer-content li:hover ul {
    display: block; }
  .footer-content li:hover a {
    margin-left: 15px;
    border-bottom: 1px solid #ddd; }

  #demo {
    padding-left: 15px;
    padding-right: 15px; }

  .footer-content .footer-mobile {
    border-bottom: none; }
  .footer-content .footer-mobile-img {
    display: block; } }
/*# sourceMappingURL=demo2.css.map */
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
